*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/*

assets/blog/*
assets/epaper/*
assets/gallery/*
assets/news/*
assets/video/*
assets/images/*
!assets/blog/index.html
!assets/epaper/index.html
!assets/gallery/index.html
!assets/news/index.html
!assets/video/index.html
!assets/images/index.html
server